canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  font-family: 'Cabin', sans-serif;
  --light-color: #FFFFFF;
}
body {
  overflow-x: hidden;
}
main {
  position: absolute;
  width: 100%;
}
header {
  text-transform: uppercase;
  align-items: center;
  height: 160vh;
  position: relative;
  color: var(--light-color);
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

.section {
  position: relative;
  
  text-transform: uppercase;
  font-size: 7vmin;

}

.detail {
  height: 100vh;
  position: relative;
  text-transform: lowercase;
  color: var(--primary-color);
}